.card{
    width: 500px;
    height: 300px;
    border: 1px solid rgb(66, 66, 66);
    padding: 3px;
}
.card:hover{
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px ;
}

.card-img{
    width: auto;
    height: 60%;
    filter: drop-shadow(0 0 2em #646cffaa);
    border: solid 2px cyan;
}
.card-title{
    height: 1.5rem;
}
