*{
  font-family: "Poppins", sans-serif;
}
.main{
    border: #ff00ff solid 2px;
    box-shadow: 0 2px 30px #39a1a64e;

}
.main{
    border: #ff00ff solid 2px;
    box-shadow: 0 4px 50px 30px #32ccffa5;

}
body{
    text-align: center;
    height: 100vh;
    width: 100vh;
    background: linear-gradient(45deg, #00ffff, #ff00ff);
    filter: blur(10);
    display: flex;
    justify-content: center;
    align-items: center;
}
#head{
    color: #ff0000;
}
h2{
    color: #ff00b3;
}

.para{
    color: #ffffff;
}
    


