body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 200px;
    transition: all 0.3s linear;
}

.card:hover{
    transform: translate(2px, 1px) scale(1.1);
}

.card h2 {
    margin: 0;
    font-size: 2em;
}

.card p {
    margin: 10px 0 0;
    font-size: 1em;
}

.card.blue {
    background-color: #00aaff;
}

.card.purple {
    background-color: #800080;
}

.card.orange {
    background-color: #ff9900;
}

.card.red {
    background-color: #ff3333;
}
