/* h3{
    color: rgb(255, 255, 255);
}
h3:first-child{
    background-color: aquamarine;
}
h3:last-child{
    background-color: blue;
}
h3:nth-child(2),h3:nth-child(3),h3:nth-child(4){
    background-color: blueviolet;
} */



/* h3:nth-child(even){
    background-color: lightgreen;
}
h3:nth-child(odd){
    background-color: lightpink;
} */


/* h3:nth-of-type(even){
    background-color: aqua;
}
h3:nth-of-type(odd){
    background-color: red;
}

h3::first-line{
    color: lightcyan;
    background-color: violet;
} */

h3:hover{
    color: white;
    background-color: red;
}
input:focus{
    background-color: rgb(0, 60, 255);
}
input:active{
    background-color: yellow;
}

/* latin */
body {
    /* font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal; */
    background:
     /* linear-gradient(90deg, rgb(173, 233, 215), rgba(229,227,123,0.5)) */
    /* radial-gradient(yellow,blue); */
    url(background.jpg);
    background-repeat: no-repeat;
    filter: blur(8px);
    background-size: cover;
    
  }
  
@font-face {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gloriahallelujah/v21/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  #p1{
    color: yellow;
    background-color: hsla(233, 92%, 49%, 0.1);
  }

  #p2{
    /* hexadecimal code */
    color: #00ff00;;
    border-color: #ff0000;;
  }

  h3{
    font-family: 'Gloria Hallelujah';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: line-through;
    text-shadow: -4px 4px 4px red;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-align: center;

    margin: 50px;
  }
